

.head{
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
label {
    margin-left: 10px;
}

input{
    margin-left: 15px;
    margin-right: 15px;
    width: 200px;
    outline: none;
    padding: 3px 5px;
    font-size: 15px;
}
select{
    margin-left: 15px;
    margin-right: 15px;
    width: 200px;
    outline: none;
    padding: 3px 5px;
    font-size: 15px;
}
.features{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.body{
    margin-top: 20px;
}
.body-head{
    display: flex;  
    background-color: navy;
    color: white;
    padding: 10px;
    font-weight: bold;
}
.body-content{
    display: flex;
    padding: 10px;
}
.c2{
    background-color: rgb(225, 224, 224);
}
.a1, .a2, .a3{
    width: 33.3%;
    display: flex;
    justify-content: center;
}
.table{
    height: 70vh;
    overflow-y: scroll;
}
.dialog{
    border-radius: 10px;
    position: fixed;
    z-index: 100;
    top: 30vh;
    left:40vw;
    background-color: white;
}
.box{
    padding: 10px;
    border: 1px solid black;
    /* width: 20vw; */
    /* height: 30vh; */
    border-radius: 10px;
}
.c3{
    padding: 8px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.a4{
    font-size: 25px;
    font-weight: bold;
}
.a5{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 10px;
}
.card{
    position: fixed;
    z-index: 100;
    top:50px
}